// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";



article.event {
  img {
    height : 200px;
    width: 300px;
    border: 3px solid $secondary-color;
  }
}

.flash {
  color: $primary-color;

  &.notice {
    background-color: $flash-notice-color;
  }
  &.flash {
    background-color: $flash-notice-color;
  }
}
