@import "colors";

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
  border-bottom: 5px solid darken($primary-color, 25%);

  h1  {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  background: $secondary-color;
  color: $primary-color;
  padding: 5px;
  border-top: 5px solid darken($secondary-color, 25%);
}

aside#sidebar {
  background: $secondary-color;
  width: 200px;
  float: right;
}
