$primary-color: #237CBE;


header#page-header {
  color: #F0F0F0;
  background: $primary-color;
  padding: 5px;
}

footer#page-footer {
  background: #F0F0F0;
  color: $primary-color;
  padding: 5px;
}

aside#sidebar {
  background: #F0F0F0;
  width: 200px;
  float: right;
}
